@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

.container > div#bheader {
    border-bottom: 1px grey solid;
}

div#duvidas-mei {
    background: url("../fotos/duvidas-mei-precisa-declarar-imposto-de-renda.png");
    height: 300px;
}
div#cinco-dicas {
    background: url("../fotos/Cinco-dicas-para-fazer-sua-pequena-empresa-crescer.png");
    height: 300px;
}
div#home-capa {
    background: url("../fotos/conheca-o-blog-conta-vc-contabilidade.jpg");
    height: 300px;
    background-position: -100px 0px;
}

div#bndes {
    background: url("../fotos/Emprestimo-BNDES-microempresas.jpg");
    height: 300px;
    background-position: -200px -100px;
}

div#cont-online {
    background: url("../fotos/por-que-utilizar-contabilidade-online.png");
    height: 300px;
    background-position: -200px -100px;
}

div#sororidade {
    background: url("../fotos/O-Que-e-Sororidade.jpg");
    height: 300px;
    background-position: -200px -100px;
}

div#transicao {
    background: url("../fotos/por-que-utilizar-contabilidade-online.png");
    height: 300px;
    background-position: -200px -100px;
}

div#o-blog-capa {
    background: url("../fotos/o-blog-capa.png");
    height: 300px;
    background-position: -200px -100px;
}

ul#lista-transicao {
    font-family: 'Lato', sans-serif;
    font-size: 19pt;
    color: #0b1e51;
}

ul a {
    font-family: 'Lato', sans-serif;
    color: #0b1e51;
}

div#artigo h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 36pt;
    color: #0b1e51;
}

div#artigo h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 19pt;
    color: #0b1e51;
}

div#artigo p, h3 {
    font-family: 'Lato', sans-serif;
    font-size: 19pt;
    color: #0b1e51;
}

div.card h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #0b1e51;
}

div.card p {
    font-family: 'Lato', sans-serif;
    color: #0b1e51;
}

#side > div {
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: lightgray;
}

a#ir-formulario {
    text-decoration: none;
    color: white;
}

div#rodape {
    background-color: #0b1e51;
}
div#rodape strong {
    color: #e8b33b;
}

.sympla-ing {
    display: flex;
    margin:auto;
}
