@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

.container > div#bheader {
    border-bottom: 1px grey solid;
}

div#arte-head {
    background-color: #0b1e51;
}

div#artigo h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18pt;
    color: #0b1e51;
}

div#artigo p {
    font-family: 'Lato', sans-serif;
    color: #0b1e51;
}

#side > div {
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: lightgray;
}

a#ir-formulario {
    text-decoration: none;
    color: white;
}

div#rodape {
    background-color: #0b1e51;
}
div#rodape strong {
    color: #e8b33b;
}